<center>
<h1>Here is information on your chosen word</h1>
</center>
<h3>
Word: <%= @word.word %>
<br>

Add definitions(s)to this word:
<ul>
  <% @word.definitions.each() do |definition| %>
  <li><%= word.add_definition() %></li>
  <% end %>
</ul>
<br>

<form action="/word/<%=@word.id%>" method="post">
  <label for="definition">Definition(s):</label>
  <br>
  <input id="definition" name="definition" type="text">
  <button type= "submit">Add Definition</button>
</form>

<a href="/">Go back to the Word List</a>
